body{
    margin: 0px;
    padding: 0px;
}
.container{
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    background-color: #5FA7EE;
    margin: 0px;
    padding: 0px;
}
#logo{
    width:40px;
    padding: 10px;

}
#logo img{
    width: 40px;
}
#menu-hr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#menu-hr a{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    font-size: 20px;
}
#menu-hr a:hover{
    color: #0661B6;
}
#baner{
    margin-top: 0px; padding: 0%;
    background-color: #5FA7EE;
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    
    
}
h1{
    margin: 0px;
}
#conter{
    
    height: 200px;
    margin-top: 300px;
    
}
#conter>button{
    padding: 10px;
    background-color: #0661B6;
    font-size: 20px;
    border-radius: 5px;
}
#conter>button:hover{
    background-color: aqua;
}
#backgound>img{
   
    
}
